
.hero {
  height: 850px;
  color: $color-main;
  font-weight: $weight-black;
  background-image: url("https://i.postimg.cc/zD0RPPPG/background-1.png");
  background-position: center;
  background-size: cover;
  text-align: center;

  .hero-title {
    filter: drop-shadow(0 0 71px rgba(0,0,0,0.39));
    margin: 230px 0 50px 90px;
  }

  .hero-subtitle {
    margin-right: 30px;
  }

  span.hello {
    display: block;
    padding-bottom: 5px;
    font-size: 25px;
    letter-spacing: 5px;
  }

  .navbar {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0px;

    li {
      display: inline;
      padding: 5px;
    }

    a {
      display: block;
      color: $color-secondary;
      font-size: 1.5rem;
      letter-spacing: 2px;
      line-height: 27px;
      text-transform: uppercase;
      font-weight: $weight-semibold;
      text-decoration: none;
      cursor: pointer;
    }

    a:hover {
      color: $color-main;
    }

    .active {
      color: $color-main;
    }

  }
}

// HOME

.subscribe-sign {
  margin: -0.5rem;
}

.subscribe-box {
  display: grid;
  background-image: url('https://i.postimg.cc/YqBW35Wj/subscribe.jpg');
  background-position: center;
  background-size: cover;
  height: 682px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: [row-1] 100px [row-2] calc((100% - 200px)/4) [row-3] calc((100% - 200px)/4) [row-4] calc((100% - 200px)/4) [row-5] calc((100% - 200px)/4) [row-6] 100px;

  .artist-image {
    background-image: url('https://i.postimg.cc/FHW1d3Tm/artist.jpg');
    background-size: cover;
    background-position: center;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
  }

  .button {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .new-album {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
    justify-self: end;
  }

  .album-title {
    position: relative;
    margin: 30px 0 10px 0;
  }

  .album-subtitle {
    color: $color-main;
    letter-spacing: 4px;
  }

  .artist-name {
    letter-spacing: 10px;
    color: $color-main;
    font-weight: $weight-black;

    p   {
      margin: 0;
    }
  }

  .artist-surname {
    letter-spacing: 10px;
    color: $color-main;
    font-weight: $weight-black;

    p > span {
      color: $color-button;
    }
  }
}

// SEARCH

.page-title {
  text-align: center;
}

.searchbar-title {
  font-size: 1.5rem;
  letter-spacing: 6px;
  color: $color-secondary;
  font-weight: $weight-semibold;
}

.searchbar-input {
  height: 46px;
  border-radius: 5px;
  border: none;
  margin-right: 15px;
}

.page-prompt {
  font-size: 1.5rem;
  letter-spacing: 6px;
  color: $color-main;
  font-weight: $weight-semibold;
  margin-top: 100px;
}

// DISCOVER

.page-text {
  font-size: 1.5rem;
  letter-spacing: 6px;
  color: $color-main;
  font-weight: $weight-semibold;
  text-align: center;
}

// FOOTER

footer > p {
  font-size: 1rem;
  letter-spacing: 4px;
  color: $color-main;
  font-weight: $weight-regular;
  text-align: center;
}


@media (min-width: 420px) and (max-width: 768px) {


  // HERO
  .hero-title {
    font-size: 2rem;
    letter-spacing: 70px;
    position: relative;
    right: 10px;
  }

  .navbar {
    justify-content: space-evenly;
    width: 100%;
  }

  // HOME

  .subscribe-sign {
    position: relative;
  }

  .subscribe-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .artist-image {
    width: 100%;
    height: 330px;
  }

  .new-album {
    display: flex;
    flex-direction: column;
  }

  .album-title {
    text-align: center;
    left: auto;
    font-size: 1.5rem;
  }

  .album-subtitle {
    text-align: center;
    font-size: 1.5rem;
  }

  .artist-name {
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    top: -300px;
  }

  .artist-surname {
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    top: -320px;
  }

}

@media (min-width: 769px){

// HERO

  .navbar {
    width: 33%;
  }

// HOME

  .artist-image {
    width: 300px;
  }

  .album-title {

    left: 325px;
    font-size: 2rem;
  }

  .album-subtitle {
    font-size: 2rem;
  }

  .artist-name {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-end: 3;
    grid-row-end: 4;
    font-size: 3rem;
  }

  .artist-surname {
    font-size: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    left: 110px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-end: 4;
    grid-row-end: 5;
  }
}