// HEADERS

h1 {
  font-size: 200px;
  letter-spacing: 120px;
  text-transform: uppercase;
  color: $color-main;
  font-weight: $weight-black;
  text-align: center;
  filter: drop-shadow(0 0 71px rgba(0,0,0,0.39));
}

h2 {
  height: 210px;
  font-size: 36px;
  letter-spacing: 11px;
  line-height: 72px;
  text-transform: uppercase;
  color: $color-main;
  font-weight: $weight-black;
  text-align: center;
}