// HEADERS

h1 {
  font-size: 6rem;
  letter-spacing: 120px;
  text-transform: uppercase;
  color: $color-main;
  font-weight: $weight-black;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: 11px;
  line-height: 72px;
  text-transform: uppercase;
  color: $color-main;
  font-weight: $weight-black;
  text-align: center;
}