// COLORS

$color-main: #FFF;
$color-secondary: #BFBFBF;
$color-button: #CF383E;
$color-background: #131313;

//FONT-WEIGHT

$weight-black: 900;
$weight-bold: 700;
$weight-semibold: 600;
$weight-regular: 400;